---
# Default home page with boxes providing collection stats
layout: page
---
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}

    {% include feature/pdf.html objectid="demo_002" width="50" %}

    {% include feature/image.html objectid="https://www.lib.uidaho.edu/collectionbuilder/demo-objects/mg101_b6_photographs_01.jpg;https://www.lib.uidaho.edu/collectionbuilder/demo-objects/mg101_b6_psychiana_photographs_010.jpg" caption="this guy!;(was nothing without these women!)" link="https://www.lib.uidaho.edu/digital/psychiana/items/psychiana519.html;https://www.lib.uidaho.edu/digital/psychiana/items/psychiana547.html" alt="Frank B. Robinson at the Organ;Women staff members of Psychiana lined up outside the Psychiana headquarters" %}

  </div>
  <div class="col-md-4">

   {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" max=8 %}

    {% include index/featured-terms.html field="creator" title="Creators" btn-color="success" max=8 %}

    {% include index/objects.html %}

  </div>
  
</div>
